<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcti.buttomexamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FloatingActionButtonExample"></activity>
        <activity android:name=".SwitchExample" />
        <activity android:name=".CheckBoxExample" >

        </activity>
        <activity android:name=".ButtonExample" />
        <activity android:name=".ToggleButtonExample" />
        <activity android:name=".ChipExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImageButtonExample" />
    </application>

</manifest>